# Backup and compiled files
__pycache__/
*.pyc
*~

# Unclassified
@*
/env
docs/build/
*.iml
/out/

# Used by setup.py and tox
/elsewhere/
/.tox/
# tox insists on creating this even though we don't use it.
/lib-typing/3.2/mypy_lang.egg-info/
# Used by pytest
/.cache/
